<p>pipes works!</p>
<h3>
{{name}}<br>
{{name | uppercase}}<br>
{{name | lowercase}}<br>
{{name | titlecase}}<br>
{{salary | currency:'INR':true}}<br>
{{salary | currency:'USD':true}}<br>
{{salary | currency:'EUR':true}}<br>
{{salary | currency:'JPY':true}}<br>
{{dob}}<br>
{{dob | date:'short'}}<br>
{{dob | date:'medium'}}<br>
{{dob | date:'long'}}<br>
{{dob | date:'yyyy-mm-dd'}}<br>
{{dob | date:'yy-MM-dd'}}<br>
{{dob | date:'dd-MM-yyyy'}}<br>
{{obj}} <br>
{{obj | json}}<br>
{{5 | sqr}}<br>
{{10 | sqr}}<br>
{{10 | cube}}<br>
{{ 5 | factorial }}<br>
{{ 6 | factorial }}<br>
{{ 0 | factorial }}<br>

</h3>